/* Import des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Montserrat:wght@400;700&display=swap');

/* import des styles du ou des layouts */
@import "./layouts/root/style.css";

/* import des styles des pages */
@import "./pages/svg-final/style.css";

/* import des styles des composants UI */
@import "./ui/header/style.css";
@import "./ui/footer/style.css";
@import "./ui/spinner/style.css";
@import "./ui/star/style.css";
@import "./ui/Graph/style.css";
@import "./ui/DetailPanel/style.css";

:root {
  /* Primitives Tokens */
  --color-neutral-100: #ffffff;
  --color-neutral-900: #1a1a1a;
  --color-blue-500: #3b82f6;
  --color-green-500: #10b981;
  --color-red-500: #ef4444;
  
  --color-c1: #00E676; 
  --color-c2: #D500F9;  
  --color-c3: #FFD600;  
  --color-c4: #00F0FF;  
  --color-c5: #FF1744;  

  
  --color-comprendre: var(--color-c1);
  --color-concevoir: var(--color-c2);
  --color-exprimer: var(--color-c3);
  --color-developper: var(--color-c4);
  --color-entreprendre: var(--color-c5);

  /* Semantics Tokens*/
  --color-bg: var(--color-neutral-100);
  --color-fg: var(--color-neutral-900);
  --color-primary: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-danger: var(--color-red-500);
}
